.app-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-lg-bg.png');
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.ipl-dashboard-heading {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.ipl-logo {
  height: 50px;
  margin-right: 10px;
}
.heading {
  color: #ffffff;
  font-size: 44px;
  font-family: 'Bree Serif';
}
